﻿@model WeDoShoesCMSAdminPanel.ViewModel.ProductView

@{
    ViewBag.Title = "Create Product";
}

<h2>Create Product</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @section Scripts {
        <script type="text/javascript">
    $(function () {
        $.getJSON('@Url.Action("ListCategory","Category")', function (result) {
            var ddl = $('#category-list');
            var id = @(Model == null ? 0 : Model.CategoryId);
                    ddl.empty();
                    $(result).each(function () {
                        $(document.createElement('option'))
                            .attr('value', this.Id)
                            .text(this.Name)
                            .appendTo(ddl);
                    });
                    if (id != 0) {
                        $("#category-list").find("option").each(function () {

                            if ($(this).val() == id) {

                                $(this).prop("selected", "selected");
                            }
                        });
                    }
        });

        var id = @Model.CategoryId;
        function ShowBrandList(_id){
            var url = '@Url.Action("ListBrands", "Brands",new { categoryId = "_categoryId" })';
            url = url.replace("_categoryId",_id);
            $.getJSON(url, function (result) {
                var ddl = $('#brands-list');
                ddl.empty();
                $(result).each(function () {
                    $(document.createElement('option'))
                        .attr('value', this.Id)
                        .text(this.Name)
                        .appendTo(ddl);
                });
            });
        }

        function ShowSizeList(){
            $.getJSON('@Url.Action("ListSizeType", "SizeType")', function (result) {
                var ddl = $('#size-list');
                ddl.empty();
                $(result).each(function () {
                    $(document.createElement('option'))
                        .attr('value', this.Id)
                        .text(this.Name)
                        .appendTo(ddl);
                });
            });
        }

        $("#category-list").change(function () {
            var ddl = $('#brands-list');
            ddl.empty();
            var _id = $(this).val();
            ShowBrandList(_id);
            $('#size-list').attr('disabled','disabled');
            if(!(_id == 0 || _id ==1))
            {
                $('#size-list').removeAttr('disabled');
                ShowSizeList();
            }
        });

        ShowBrandList(id);
        ShowSizeList(id);
        if(id == 0 || id ==1)
        {
            $('#size-list').attr('disabled','disabled');
        }       
            });
        </script>
    }

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(x => x.CategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.CategoryId, new SelectList(Enumerable.Empty<SelectListItem>()), new { @class = "form-control", id = "category-list" })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SelectedBrandIds, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBoxFor(model => model.SelectedBrandIds, new MultiSelectList(Enumerable.Empty<SelectListItem>()), new { @class = "form-control", id = "brands-list" })
                @Html.ValidationMessageFor(model => model.SelectedBrandIds, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SelectedSizeIds, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBoxFor(x => x.SelectedSizeIds, new MultiSelectList(Enumerable.Empty<SelectListItem>()), new { @class = "form-control", id = "size-list" })
                @Html.ValidationMessageFor(model => model.SelectedSizeIds, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
