﻿@model WeDoShoesCMSAdminPanel.ViewModel.ProductView

@{
    ViewBag.Title = "Product Details";
}

<h2>Product Details</h2>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            $.get('@Url.Action("ListBrandsByProduct", "Product", new { productId = Model.Id, categoryId = Model.CategoryId })', function (data) {

                /* data is the pure html returned from action method, load it to your page */
                $('#partialPlaceholderForBrands').html(data);
                /* little fade in effect */
                $('#partialPlaceholderForBrands').fadeIn('slow');
            });

            @*$.get('@Url.Action("ListSizesByProduct","Product",new {productId= Model.Id})', function (data) {

                /* data is the pure html returned from action method, load it to your page */
                $('#partialPlaceholderForSizes').html(data);
                /* little fade in effect */
                $('#partialPlaceholderForSizes').fadeIn('slow');
            });*@
        });
    </script>
}
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
</p><br />
<div id="partialPlaceholderForBrands" style="display:none;"></div>
@*<div id="partialPlaceholderForSizes" style="display:none;"></div>*@
<div> @{Html.RenderAction("ListServiceOfProduct", "Product", new { productId = Model.Id });} </div>