﻿@model IEnumerable<WeDoShoesCMSAdminPanel.ViewModel.ProductView>

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

@Html.DropDownList("Category", new SelectList(Enumerable.Empty<SelectListItem>()), new { @class = "form-control", Id = "category-type", style = "float: right;" })

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $.getJSON('@Url.Action("ListCategory", "Category")', function (result) {
                var ddl = $('#category-type');
                var id = @ViewBag.categoryid;
                ddl.empty();
                $(result).each(function () {
                    $(document.createElement('option'))
                        .attr('value', this.Id)
                        .text(this.Name)
                        .appendTo(ddl);
                });
                $("#category-type").find("option").each(function () {

                    if ($(this).val() == id) {

                        $(this).prop("selected", "selected");
                    }
                });
            });
        });
        $("#category-type").change(function () {
            var url = '@Url.Action("ListByCategory", "Product", new { categoryId = "_categoryId" })';
            window.location.href = url.replace("_categoryId", $(this).val());
        });

        var categoryId = @ViewBag.categoryid;
    </script>
    <script src="~/Scripts/CustomScript/wedoshoes-product.js"></script>
}
<input type="hidden" id="ajaxUrl" value='@Url.Action("LoadMoreProducts", "Product")' />
<p>
    @Html.ActionLink("Create New", "Create", new { categoryId = ViewBag.categoryid })
</p><br />

<table class="table" id="ProductTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayName("Action")
        </th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Add Services", "GetById", new { id = item.Id, categoryId = item.CategoryId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            </tr>
        }
    }

</table>
@if (Model != null)
{
    if (Model.Count() >= 20)
    {
        <p id="loadMore" style="text-align: center;">
            <a class="btn btn-default">
                Load More@*&raquo;*@
                <span>
                    <img id="loading" style="display: none;" src="~/Content/Images/ajax-loader.gif" />
                </span>
            </a>
        </p>
    }
}
