﻿@model IEnumerable<WeDoShoesCMSAdminPanel.ViewModel.FaqView>

@{
    ViewBag.Title = "FAQ List";
}

<h2>FAQ List</h2>

<p>
    @Html.ActionLink("Create New FAQ", "Create",new { categoryId = ViewData["categoryid"] }, new AllowHtmlAttribute())
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Question)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Faq", item, null) |
            @Html.ActionLink("Delete", "Delete", "Faq", item, null)
        </td>
    </tr>
}

</table>
