﻿@model IEnumerable<WeDoShoesCMSAdminPanel.ViewModel.FaqCategoryView>

@{
    ViewBag.Title = "FAQ Catogories";
}

<h2>FAQ Catogories</h2>

<p>
    @Html.ActionLink("Create New", "CreateCategory")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditCategory", new { id = item.Id }) |
                    @Html.ActionLink("Details", "CategoryDetails", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "DeleteCategory", new { id = item.Id })
                </td>
            </tr>
        }
    }

</table>
