﻿@model WeDoShoesCMSAdminPanel.ViewModel.AccessoryView

@{
    ViewBag.Title = "Accessory Details";
}

<h2>Accessory Details</h2>

<div>
    @*<h4>AccessoryView</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.SizeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SizeType)
            Html.LabelFor(model => model.SizeType, htmlAttributes: new { @class = "control-label col-md-2", id = "SizeName" })
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.AccessoryPriceView.AccessoryCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessoryPriceView.AccessoryCost)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
</p>
