﻿@model IEnumerable<WeDoShoesCMSAdminPanel.ViewModel.AccessoryView>

@{
    ViewBag.Title = "Accessories";
}

<h2>Accessories</h2>

@Html.DropDownList("Category", new SelectList(Enumerable.Empty<SelectListItem>()), new { @class = "form-control", @Id = "category-type", style = "float: right;" })

@section Scripts {
    <script type="text/javascript">
    $(function () {
        $.getJSON('@Url.Action("ListCategoryForFilter", "Category")', function (result) {
            var ddl = $('#category-type');
            ddl.empty();
            $(result).each(function () {
                $(document.createElement('option'))
                    .attr('value', this.Id)
                    .text(this.Name)
                    .appendTo(ddl);
            });
        });
    });
    $("#category-type").change(function () {
        var url = '@Url.Action("ListByCategory", "Accessories", new { categoryId = "_categoryId" })';
            window.location.href = url.replace("_categoryId", $(this).val());
        });
        var categoryId = null;        
    </script>
    <script src="~/Scripts/CustomScript/wedoshoes-accessory.js"></script>
}
<input type="hidden" id="ajaxUrl" value='@Url.Action("LoadMoreAccessory", "Accessories")' />
<p>
    @Html.ActionLink("Create New", "Create")
</p><br />

<table class="table" id="AccessoryTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayName("Action")
        </th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            </tr>
        }
    }
</table>
@if (Model!=null)
{
    if (Model.Count() > 20)
    {
        <p id="loadMore" style="text-align: center;">
            <a class="btn btn-default">
                Load More@*&raquo;*@
                <span>
                    <img id="loading" style="display: none;" src="~/Content/Images/ajax-loader.gif" />
                </span>
            </a>
        </p>
    }

}