﻿@model WeDoShoesCMSAdminPanel.ViewModel.ServiceView

@{
    ViewBag.Title = "Edit Service";
}

<h2>Edit Service</h2>

@using (Html.BeginForm("EditService", "Service", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @section Scripts {
    <script type="text/javascript">
        $(function () {
            $.getJSON('@Url.Action("ListSubServiceType","Service")', function (result) {
                var ddl = $('#SubServiceType');
                ddl.empty();
                $(result).each(function () {
                    $(document.createElement('option'))
                        .attr('value', this.Type)
                        .text(this.Type)
                        .appendTo(ddl);
                });
                ddl.val("@Model.Type")
            });
        });


        $('#sub-services').hide();
       
        $('#has-children').change(function () {
            if ($(this).prop("checked")) {
                $('#sub-services').hide();
                $('#sub-services').toggle("slow");

            }
            else {
                $('#sub-services').hide("slow");

            }
        });

        $(document).ready(function () {
            $('#sub').click(function () {

                $("form").removeData('validator');
                $("form").removeData('unobtrusiveValidation');
                $.validator.unobtrusive.parse($("form"));
            });
        });

        $(document).ready(function () {
            $("#btnClick").click(function () {

                $.post("/Service/AppendSubService",
                  function (response) {

                      if ($("#has-children").prop("checked")) {

                          $('#sub-services').append(response), function () {

                              //$.validator.unobtrusive.parse($(this));

                          }
                      }

                  }
                );
            });
        });

        function deleteAddress(Id) {
            Id.remove();
        }

    </script>
    }
    <div class="form-horizontal">        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ParentId)
        @Html.HiddenFor(model => model.CategoryId)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Acronym, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Acronym, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Acronym, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Type, new SelectList(Enumerable.Empty<SelectListItem>()), new { @class = "form-control", id = "SubServiceType" })
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>        

        <div class="form-group">
            @Html.LabelFor(model => model.HasChildren, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.HasChildren, new { id = "has-children" })
                    @Html.ValidationMessageFor(model => model.HasChildren, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div id="sub-services">
            <hr />
            <h2>Sub-Service</h2>
            <div class="form-group sub-service-name" id="sub-service-name">
                @Html.LabelFor(model => model.SubServiceView.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SubServiceView.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SubServiceView.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SubServiceView.Acronym, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SubServiceView.Acronym, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SubServiceView.Acronym, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group sub-service-description" id="sub-service-description">
                @Html.LabelFor(model => model.SubServiceView.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SubServiceView.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SubServiceView.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            <div>
                <hr>
                <input type="button" value="Add More SubServices" id="btnClick" />
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
