﻿@model WeDoShoesCMSAdminPanel.ViewModel.ServiceView

@{
    ViewBag.Title = "Service Details";
    string rootServiceName = ViewBag.RootServiceName;
}
<h5>
    @Html.ActionLink("Root Services", "Index", "Service") /
@Html.ActionLink(rootServiceName, "RootServiceDetails", new { id = (int)Model.ParentId }) /
@Html.ActionLink(Model.Name, "ServiceDetails", new { id = (int)Model.Id })
</h5>
<h2>Service Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acronym)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acronym)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        @Html.HiddenFor(model => model.ParentId)
        @Html.HiddenFor(model => model.CategoryId)
        @Html.HiddenFor(model => model.Id)
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditService", Model) |
    @Html.ActionLink("Delete", "DeleteService", Model, new AllowHtmlAttribute())
</p>
@if (Model.HasChildren)
{

<div>
    @{Html.RenderAction("SubServicesByService", "Service", new { parentId = Model.Id, categoryId = Model.CategoryId, type = Model.Type });
    }
</div>

}
