﻿@model WeDoShoesCMSAdminPanel.ViewModel.SubServiceView

@{
    ViewBag.Title = "Sub-Service Details";
    int rootServiceId=(int)ViewBag.RootServiceId;
    string serviceName=ViewBag.ServiceName ;
    string rootServiceName=ViewBag.RootServiceName;
}

<h5>@Html.ActionLink("Root Services", "Index", "Service") /
     @Html.ActionLink(rootServiceName, "RootServiceDetails", new { id = (int)rootServiceId }) / 
    @Html.ActionLink(serviceName, "ServiceDetails", new { id = (int)Model.ParentId }) /
     @Html.ActionLink(Model.Name, "SubServiceDetails", new { id = (int)Model.Id })</h5>
<h2>Sub-Service Details</h2>

<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acronym)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acronym)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>                
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditSubService", Model) |
    @Html.ActionLink("Delete", "DeleteSubService", Model)
</p>
