﻿@model WeDoShoesCMSAdminPanel.ViewModel.SubServiceView
@using HtmlHelpers.BeginCollectionItem

@using (Html.BeginCollectionItem("ListSubServiceView")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" id="@Model.UniqueID">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Acronym, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Acronym, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Acronym, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.ParentId)
        @Html.HiddenFor(model => model.CategoryId)
        @Html.HiddenFor(model => model.Type)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                
                    <input type="button" value="Remove" id="cancel" name="Cancel" onclick="deleteAddress(document.getElementById('@Model.UniqueID'));"/>
               
            </div>
            
    </div>
        </div>
}

