﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title WeDoShoes CMS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("WeDoShoes CMS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (HttpContext.Current.Session["token"] != null)
                    {
                        <li>@Html.ActionLink("Categories", "Index", "Category")</li>
                        <li>@Html.ActionLink("Services", "Index", "Service")</li>
                        <li>@Html.ActionLink("Products", "Index", "Product")</li>
                        <li>@Html.ActionLink("Accessories", "Index", "Accessories")</li>
                        <li>@Html.ActionLink("Brands", "Index", "Brands")</li>
                        <li>@Html.ActionLink("Sizes", "Index", "SizeType")</li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">More<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Contact Mode", "Index", "ContactMode")</li>
                                <li>@Html.ActionLink("Defect", "Index", "Defect")</li>
                                <li>@Html.ActionLink("FAQ Category", "Index", "Faq")</li>
                                <li>@Html.ActionLink("Nation State", "Index", "NationState")</li>
                                <li>@Html.ActionLink("Tax", "Index", "Tax")</li>
                                <li>@Html.ActionLink("Manage Time Slot", "Index", "TimeSlot")</li>
                                <li>@Html.ActionLink("Manage User Type", "Index", "UserType")</li>
                                <li>@Html.ActionLink("Manage API", "Index", "API")</li>                           
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Welcome " + HttpContext.Current.Session["name"].ToString().Split(' ').FirstOrDefault(), "Index", "Home")</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - WeDoShoes</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
