﻿@model IEnumerable<WeDoShoesCMSAdminPanel.ViewModel.UserTypeView>
<hr/>
<h4>List Of Permitted User Type</h4>

<p>
    @Html.ActionLink("Add New Permission", "AddUserType", new { id = ViewBag.id})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Action
        </th>
        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Revoke Permission", "RevokeUserPermission", new { userTypeId = item.Id, apiId = ViewBag.id }, new { onclick = "return confirm('Are you sure you wish to revok permission for this User Type?');" })
                </td>
            </tr>
        }
    }
</table>
