﻿@model IEnumerable<WeDoShoesCMSAdminPanel.ViewModel.APIView>
<hr/>
<h4>List Of Permitted APIS</h4>

<p>
    @Html.ActionLink("Add New Permission", "AddAPI", new { id = ViewBag.id })
</p>
<table class="table" id="APITable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayName)
        </th>
        <th>
            Action
        </th>
        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayName)
                </td>
                <td>
                    @Html.ActionLink("Revoke Permission", "RevokeAPIPermission", new { userTypeId = ViewBag.id, apiId = item.Id }, new { onclick = "return confirm('Are you sure you wish to revok permission for this API?');" })
                </td>
            </tr>
        }
    }
</table>
@if (Model != null)
{
    if (Model.Count() >= 20)
    {
        <p id="loadMore" style="text-align: center;">
            <a class="btn btn-default">
                Load More@*&raquo;*@
                <span>
                    <img id="loading" style="display: none;" src="~/Content/Images/ajax-loader.gif" />
                </span>
            </a>
        </p>
    }
}