﻿@model IEnumerable<WeDoShoesCMSAdminPanel.ViewModel.ProductView>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Add Services", "GetById", new { id = item.Id, categoryId = item.CategoryId }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id })
        </td>
    </tr>
}
