﻿@model IEnumerable<WeDoShoesCMSAdminPanel.ViewModel.APIView>
@foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @Html.ActionLink("Revoke Permission", "RevokeAPIPermission", new { userTypeId = ViewBag.id, apiId = item.Id }, new { onclick = "return confirm('Are you sure you wish to revok permission for this API?');" })
            </td>
        </tr>
    }
