﻿@model IEnumerable<WeDoShoesCMSAdminPanel.ViewModel.SizeTypeView>

<div>
    <h4>Added Sizes</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <dt>
                    @Html.DisplayFor(modelItem => item.Name)
                </dt>

                <dd>
                    @*@Html.ActionLink("Delete", "RemoveSize", new { id = item.Id, productId = ViewData["productid"] }, new { onclick = "return confirm('Are you sure you wish to delete this size?');" })*@
                </dd>
            }
        }
    </dl>
</div>
<p>
    <b>
        @*@Html.ActionLink("Add Size", "AddSizeInAProduct", new { productId = ViewData["productid"] })*@
    </b>
</p>
