﻿@model IEnumerable<WeDoShoesCMSAdminPanel.ViewModel.SubServiceView>

<h2>Sub-Services</h2>

<p>
    @Html.ActionLink("Create New", "CreateSubService", new { parentId = ViewData["parentid"], categoryId = ViewData["categoryid"], type = ViewData["type"] })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Acronym)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Acronym)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.HiddenFor(modelItem => item.Type)
                </td>                
                <td>
                    @Html.ActionLink("Details", "SubServiceDetails", new { id = item.Id })
                </td>
            </tr>
        }
    }

</table>
