﻿@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
    ViewBag.Title = "WeDoShoes CMS";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <style>

        .error404 {
            text-align: center;
            position: fixed;
            top: 20%;
            left: 30%;
        }

        .error404 .errorText {
            font-size: 23px;
            line-height: 1.5;
            margin: 45px 0 10px;
        }
    </style>
</head>
<body>
    <div class="error404">
        <div>
            <img src="~/Content/Images/PageNotFound.png" />
        </div>
        <div class="errorText">
            Page doesn’t exist or some other error occured.<br>You can <a href="javascript:void(0);" onclick="history.go(-1);">Go back</a> OR Go to our <a href="@Url.Action("Index", "Home")">Home page</a>
        </div>
    </div>
</body>
</html>


