﻿@model WeDoShoesCMSAdminPanel.ViewModel.TaxView

@{
    ViewBag.Title = "Tax Rate";
}

<h2>Tax Rate</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaxRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxRate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
</p>
