﻿@model IEnumerable<WeDoShoesCMSAdminPanel.ViewModel.APIView>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@section Scripts {
    <script src="~/Scripts/CustomScript/wedoshoes-api.js"></script>

}
<input type="hidden" id="ajaxUrl" value='@Url.Action("LoadMoreAPI", "API")' />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="APITable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayName)
        </th>
        <th>
            Action
        </th>
        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayName)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            </tr>
        }
    }

</table>
<p id="loadMore" style="text-align: center;">
    <a class="btn btn-default">
        Load More@*&raquo;*@
        <span>
            <img id="loading" style="display: none;" src="~/Content/Images/ajax-loader.gif" />
        </span>
    </a>
</p>